-
  const pathStatics = PRODUCTION ? 'statics' : '/statics'

  function staticImg (image) {
    return `${pathStatics}/img/${image}`
  }

  const pages = [
    { view: 'index', name: 'главная' },
    { view: 'policy', name: 'политика' },
    { view: 'not-found', name: 'ошибка 404' },
  ]
