.modal-thanks.modal
  .modal-thanks__layer.modal-layer
  .modal-thanks__wrap.modal-wrap
    .modal-thanks__content.modal-content
      button.modal-thanks__close.modal-close(type='button')
      .modal-thanks__icon
        svg(width='126' height='126' viewbox='0 0 126 126' fill='none' xmlns='http://www.w3.org/2000/svg')
          path.round(d='M63 0C97.7697 0 126 28.2303 126 63C126 97.7697 97.7697 126 63 126C28.2303 126 0 97.7697 0 63C0 28.2303 28.2303 0 63 0Z' fill='#2382A6')
          path(d='M37.5488 65.5033L55.072 82.1921L90.9528 45.894' stroke='white' stroke-width='10.0132' stroke-linecap='round' stroke-linejoin='round')
      //.modal-thanks__icon
      //  lottie-player(src=`${pathStatics}/files/modal-order-lottie-icon.json` background='transparent' speed='1' style='width: 126px; height: 126px' direction='1' playmode='normal' loop='' autoplay='')
      .modal-thanks__title Заявка успешно отправлена!
      .modal-thanks__text В течение дня с Вами свяжется наш менеджер для уточнения деталей
      .modal-thanks__note.text-small
        | Окно закроется автоматически через
        |
        span.modal-thanks__counter 10
        |
        | сек...
