@mixin btn
  text-decoration: none

.btn-saturated
  +btn
  position: relative
  border-radius: 16px
  background-color: $saturated
  padding: 24px 70px 22px 24px
  box-shadow: 0 4px 20px 0 rgba(191, 218, 228, 0.5)
  color: $white
  text-align: left
  transition-property: background-color
  transition-duration: $transition-duration
  &:hover
    background: #1A799B
  &::before
    content: ''
    width: 26px
    height: 26px
    position: absolute
    top: 24px
    right: 24px
    +bgIcon('ic_email_white.svg')

.btn-black-arrow
  +btn
  overflow: hidden
  position: relative
  border-radius: 16px
  box-shadow: 0 4px 20px 0 rgba(191, 218, 228, 0.5)
  background-color: $text
  padding: 24px 70px 22px 24px
  color: $white
  text-align: left
  span
    display: inline-block
  &:not(:hover)
    span
      animation: 0.2s btnBlackArrowSpanReverse forwards linear
    &::before
      animation: 0.2s btnBlackArrowReverse forwards linear
    &::after
      animation: 0.2s btnBlackArrowLeftReverse forwards linear
  &:hover
    &::before
      animation: 0.2s btnBlackArrow forwards linear
    &::after
      animation: 0.2s btnBlackArrowLeft forwards linear
    span
      animation: 0.2s btnBlackArrowSpan forwards linear
  &::before
    content: ''
    width: 26px
    height: 26px
    position: absolute
    top: 24px
    right: 24px
    +bgIcon('ic_arrow_btn_right_white.svg')
  &::after
    content: ''
    width: 26px
    height: 26px
    position: absolute
    top: 24px
    left: -26px
    +bgIcon('ic_arrow_btn_right_white.svg')
  @keyframes btnBlackArrow
    0%
      right: 24px
    100%
      right: -26px
  @keyframes btnBlackArrowLeft
    0%
      left: -26px
    100%
      left: 24px
  @keyframes btnBlackArrowReverse
    0%
      right: -26px
    100%
      right: 24px
  @keyframes btnBlackArrowLeftReverse
    0%
      left: 24px
    100%
      left: -26px
  @keyframes btnBlackArrowSpan
    0%
      transform: translateX(0)
    100%
      transform: translateX(62px)
  @keyframes btnBlackArrowSpanReverse
    0%
      transform: translateX(62px)
    100%
      transform: translateX(0)

.btn-small-arrow
  +btn
  $offset: 24px
  display: inline-block
  overflow: hidden
  position: relative
  border-radius: 1000px
  padding: 16px 70px 14px 24px
  text-align: left
  min-width: 233px
  span
    display: inline-block
  &:not(:hover)
    span
      animation: 0.2s btnSmallArrowSpanReverse forwards linear
    &::before
      animation: 0.2s btnSmallArrowReverse forwards linear
    &::after
      animation: 0.2s btnSmallArrowLeftReverse forwards linear
  &:hover
    &::before
      animation: 0.2s btnSmallArrow forwards linear
    &::after
      animation: 0.2s btnSmallArrowLeft forwards linear
    span
      animation: 0.2s btnSmallArrowSpan forwards linear
  &::before
    content: ''
    width: 18px
    height: 18px
    position: absolute
    top: calc(50% - 8px)
    right: 24px
    +bgIcon('ic_arrow_btn_right_black.svg')
    @include media(lg)
      width: 16px
      height: 16px
  &::after
    content: ''
    width: 18px
    height: 18px
    position: absolute
    top: calc(50% - 8px)
    left: -26px
    +bgIcon('ic_arrow_btn_right_black.svg')
    @include media(lg)
      width: 16px
      height: 16px
  @keyframes btnSmallArrow
    0%
      right: 24px
    100%
      right: -26px
  @keyframes btnSmallArrowLeft
    0%
      left: -26px
    100%
      left: 24px
  @keyframes btnSmallArrowReverse
    0%
      right: -26px
    100%
      right: 24px
  @keyframes btnSmallArrowLeftReverse
    0%
      left: 24px
    100%
      left: -26px
  @keyframes btnSmallArrowSpan
    0%
      transform: translateX(0)
    100%
      transform: translateX(32px)
  @keyframes btnSmallArrowSpanReverse
    0%
      transform: translateX(32px)
    100%
      transform: translateX(0)

.btn-small-arrow_white
  color: $text
  background-color: $white

.btn-small-arrow_black
  background-color: $text
  color: $white
  &::before
    +bgIcon('ic_arrow_btn_right_white.svg')
  &::after
    +bgIcon('ic_arrow_btn_right_white.svg')
