.input
  outline: none
  border: none
  padding: 0 24px 16px
  width: 100%
  color: $white
  background-color: transparent
  border-bottom: 1px solid $white
  &::placeholder
    color: rgba($white, .5)
