.input
  outline: none
  border: none
  padding: 0 24px 16px
  width: 100%
  color: $text
  background-color: transparent
  border-bottom: 1px solid rgba($text, .2)
  transition-property: border
  transition-duration: $transition-duration
  &:focus
    border-bottom: 1px solid $text
  &::placeholder
    color: rgba($text, .5)

.input_white
  color: $white
  border-bottom: 1px solid $white
  &::placeholder
    color: rgba($white, .5)
  &:focus
    border-bottom: 1px solid $white

.input-error
  border-bottom: 1px solid $error
  &:focus
    border-bottom: 1px solid $error
  & + .input-error-message
    display: block

.input-error-message
  display: none
  position: absolute
  top: 0
  right: 0
  font-size: 12px
  line-height: 140%
  color: $error
