.advantages
  overflow: hidden
  position: relative
  z-index: 1
  margin-bottom: -80px
  padding-top: 120px
  padding-bottom: 200px
  @include media(lg)
    overflow: visible
    padding-top: 0
    margin-bottom: 90px
    padding-bottom: 0
    background: none
  @include media(xs)
    margin-bottom: 60px
  &::before
    @include media(lg)
      content: ''
      position: absolute
      z-index: -1
      right: 0
      left: 0
      top: -144px
      +bgIcon('advantages/advantages-bg_768.svg')
      height: 716px
    @include media(xs)
      top: -118px
      +bgIcon('advantages/advantages-bg_375.svg')
      height: 676px

.advantages__bg-anim
  position: absolute
  z-index: -1
  width: calc(100vw + 300px)
  left: 0
  top: 0
  bottom: 0
  background-image: url($imgPath + 'advantages/advantages-bg.svg')
  background-size: calc(100% - 300px) 100%
  //background-repeat: repeat
  background-position: center left 20px
  transition-timing-function: ease-out
  transition-duration: 0.5s
  transition-property: transform
  will-change: transform
  @include media(lg)
    display: none

.advantages__wrap
  overflow: hidden

.advantages__cont

.advantages__caption
  margin-bottom: 80px
  @include media(lg)
    margin-bottom: 40px
  @include media(xs)
    margin-bottom: 30px

.advantages__list
  margin-bottom: 84px
  display: flex
  gap: 2.5rem
  @include media(xl)
    gap: 2.2rem
  @include media(lg)
    transform: none !important
    margin-bottom: 90px
    margin-left: 0
    gap: 40px
    column-gap: 60px
    flex-wrap: wrap
  @include media(xs)
    margin-bottom: 50px
    gap: 39px

.advantages__item
  //width: 20.32rem
  position: relative
  width: 20.318rem
  flex-shrink: 0
  @include media(lg)
    width: 42%
  @include media(xs)
    width: 93%
    padding-right: 30px

.advantages__number
  width: 0
  overflow: hidden
  display: flex
  justify-content: flex-end
  transform: translateX(-216px)
  font-size: 140px
  line-height: 105%
  opacity: 0.1
  color: $saturated
  position: absolute
  z-index: -2
  bottom: -76px
  right: -6rem
  transition-timing-function: ease-out
  transition-duration: 0.5s
  transition-property: transform, width
  @include media(xl)
    right: -7.9rem
  @include media(lg)
    transform: none
    width: 60px
    font-size: 72px
    bottom: -30px
    right: 3px
  @include media(xs)
    font-size: 64px
    width: 55px
    right: -22px

.advantages__inner
  transform: translateX(216px)
  transition-timing-function: ease-out
  transition-duration: 0.5s
  transition-property: transform
  @include media(lg)
    transform: none

.advantages__title
  margin-bottom: 12px
  font-size: 1.51rem
  line-height: 110%
  @include media(lg)
    font-size: 18px
  @include media(xs)
    font-size: 14px

.advantages__text
  opacity: 0.8
  @include media(lg)
    font-size: 12px

.advantages__headline
  margin-bottom: 32px
  @include media(lg)
    margin-bottom: 16px
  @include media(xs)
    margin-bottom: 12px
    font-size: 30px

.advantages__partners-box
  display: flex
  transform: translate(-50%)

.advantages__partners
  display: flex
  animation: ticker-1 100s linear infinite
  animation-delay: -100s
  &:last-of-type
    animation: ticker-2 100s linear infinite
    animation-delay: -50s
  @keyframes ticker-1
    0%
      transform: translateX(100%)
    100%
      transform: translateX(-100%)
  @keyframes ticker-2
    0%
      transform: translateX(0)
    100%
      transform: translateX(-200%)

.advantages__partner
  margin: 0 3px
  border-radius: 16px
  background-color: $white
  flex-shrink: 0
  width: 17.684rem
  height: 7.902rem
  @include media(lg)
    width: 174px
    height: 76px
  @include media(xs)
    width: 165px
    height: 73px

.advantages__partner-image
  height: 100%
