.advantages
  overflow: hidden
  margin-bottom: 120px
  @include media(lg)
    margin-bottom: 90px
  @include media(xs)
    margin-bottom: 60px

.advantages__cont

.advantages__caption
  margin-bottom: 80px
  @include media(lg)
    margin-bottom: 40px
  @include media(xs)
    margin-bottom: 30px

.advantages__list
  margin-bottom: 84px
  margin-left: 216px
  display: flex
  gap: 36px
  @include media(lg)
    margin-bottom: 90px
    margin-left: 0
    gap: 40px
    column-gap: 60px
    flex-wrap: wrap
  @include media(xs)
    margin-bottom: 33px
    gap: 39px

.advantages__item
  width: 324px
  flex-shrink: 0
  @include media(lg)
    width: 300px
  @include media(xs)
    max-width: 285px
    width: 100%

.advantages__title
  margin-bottom: 12px

.advantages__text
  opacity: 0.8
  @include media(lg)
    font-size: 12px

.advantages__headline
  margin-bottom: 32px
  @include media(lg)
    margin-bottom: 16px
  @include media(xs)
    margin-bottom: 12px
    font-size: 30px

.advantages__partners
  display: flex
  gap: 6px

.advantages__partner
  border-radius: 16px
  background-color: $white
  flex-shrink: 0
  width: 282px
  height: 126px
  @include media(lg)
    width: 174px
    height: 76px
  @include media(xs)
    width: 165px
    height: 73px

.advantages__partner-image
  height: 100%
