.header
  position: sticky
  z-index: 100
  top: 0
  pointer-events: none

.header_active
  .header__menu
    opacity: 1
    pointer-events: all
    transition-duration: $transition-duration
  .header__nav
    transition-duration: 0.1s
  .header__burger
    .header__burger-line-1
      transform: translate(23px,-7px) rotate(45deg)
    .header__burger-line-2
      transform: translate(-13px, 23px) rotate(-45deg)
      width: 22px
  .header__button_1
    opacity: 1
    pointer-events: all
    transform: translateY(0)
    transition-duration: 0.2s
    transition-delay: 0.7s
  .header__button_2
    animation: 0.2s headerButton forwards
    animation-delay: 0.8s
    @keyframes headerButton
      0%
        opacity: 0
        transform: translateY(10px)
      100%
        opacity: 1
        transform: translateY(0)
  .header__item
    transform: translateX(0)
    opacity: 1
    pointer-events: all
    transition-duration: 0.1s
    &:nth-child(1)
      transition-delay: 0.1s
    &:nth-child(2)
      transition-delay: 0.2s
    &:nth-child(3)
      transition-delay: 0.3s
    &:nth-child(4)
      transition-delay: 0.4s
    &:nth-child(5)
      transition-delay: 0.5s
    &:nth-child(6)
      transition-delay: 0.6s

.header_cases-modal
  position: fixed
  top: 0
  right: 0
  left: 0
  .header__back-cases
    display: flex

.header__cont
  padding: 0 12px
  margin: 0 auto
  @include media(lg)
    padding: 0 12px
  @include media(xs)
    padding: 0 12px

.header__area
  position: relative
  padding: 2px 0
  display: flex
  align-items: center

.header__burger
  pointer-events: all
  width: 3.14rem
  height: 3.14rem
  background-color: $white
  border-radius: 50%
  position: relative
  @include media(lg)
    width: 50px
    height: 50px
    margin-left: -10px
  @include media(xs)
    width: 42px
    height: 42px
  svg
    pointer-events: none
    width: 100%
    height: 100%
    .header__burger-line-1
      transition-duration: 0.3s
      transition-property: transform
    .header__burger-line-2
      transition-duration: 0.3s
      transition-property: transform, width

.header__back
  pointer-events: all
  margin-left: 12px
  background-color: $white
  border-radius: 1000px
  padding: 16px 24px 16px 52px
  text-decoration: none
  display: inline-block
  position: relative
  @include media(xs)
    display: none
  &::before
    content: ''
    width: 18px
    height: 18px
    position: absolute
    top: 16px
    left: 16px
    +bgIcon('ic_arrow_btn_left_black.svg')

.header__back-cases
  display: none
  align-items: center
  pointer-events: all
  margin-left: 12px
  background-color: $white
  border-radius: 1000px
  padding: 16px 24px 16px 52px
  position: relative
  font-size: 14px
  line-height: 105%
  height: 50px
  @include media(xs)
    margin-left: 0
    height: 42px
    width: 42px
    padding: 0
    justify-content: center
    span
      display: none
  &::before
    content: ''
    width: 18px
    height: 18px
    position: absolute
    top: 16px
    left: 16px
    +bgIcon('ic_arrow_btn_left_black.svg')
    @include media(xs)
      position: static

.header__menu
  position: absolute
  z-index: 1
  top: 100%
  left: 0
  max-width: 22.764rem
  width: 100%
  opacity: 0
  pointer-events: none
  transition-property: opacity
  transition-duration: 0s
  @include media(lg)
    max-width: 363px

.header__nav
  padding: 20px 12px
  box-shadow: 0 4px 20px 0 rgba(191, 218, 228, 0.5)
  background: $white
  border-radius: 16px
  height: 0
  overflow: hidden
  transition-property: height

.header__list

.header__item
  opacity: 0
  pointer-events: none
  transform: translateX(-12px)
  transition-property: opacity, transform

.header__link
  padding: 12px
  display: block
  @include media(lg)
    font-size: 24px
  @include media(xs)
    font-size: 24px

.header__button
  opacity: 0
  margin-top: 6px
  display: block
  width: 100%
  font-size: 1.51rem
  line-height: 110%
  pointer-events: none
  transform: translateY(10px)
  @include media(lg)
    font-size: 24px

.header__button_1
  transition-property: opacity, transform

.header__button_2

.header__tg-box
  margin-left: auto
  @include media(lg)
    margin-right: -10px

.header__tg
  display: flex
  align-items: center
  justify-content: center
  pointer-events: all
  overflow: hidden
  position: relative
  width: 3.14rem
  height: 3.14rem
  background-color: $white
  border-radius: 50%
  @include media(lg)
    width: 50px
    height: 50px
  @include media(xs)
    width: 42px
    height: 42px
  &::before
    content: ''
    width: 1.76rem
    height: 1.76rem
    +bgIcon('ic_tg_black.svg')
    @include media(lg)
      width: 28px
      height: 28px
    @include media(xs)
      width: 24px
      height: 24px
  &:hover
    &::before
      animation: 0.2s headerTgAnim forwards linear
  @keyframes headerTgAnim
    0%
      transform: translate(0,0)
    50%
      transform: translate(30px,-30px)
    51%
      transform: translate(-30px,30px)
    100%
      transform: translate(0,0)
