.modal-order

.modal-order__layer

.modal-order__wrap

.modal-order__content

.modal-order__close

.modal-order__title
  margin-bottom: 24px
  max-width: 396px
  width: 100%
  font-size: 36px
  line-height: 105%
  @include media(xs)
    font-size: 24px
    padding-right: 60px

.modal-order__text
  margin-bottom: 36px
  max-width: 450px
  width: 100%
  font-size: 16px
  line-height: 140%
  @include media(lg)
    max-width: 380px

.modal-order__form

.modal-order__label
  position: relative
  display: block
  margin-bottom: 36px

.modal-order__input

.modal-order__headline
  margin-bottom: 8px

.modal-order__list
  display: flex
  flex-wrap: wrap
  gap: 3px
  margin-bottom: 46px
  @include media(lg)
    margin-bottom: 38px
    gap: 8px
  @include media(xs)
    margin-bottom: 30px

.modal-order__label

.modal-order__radio
  display: none
  &:checked + .modal-order__radio-view
    background: $pastel
    color: $saturated
    cursor: default

.modal-order__radio-view
  cursor: pointer
  color: rgba($text, .5)
  padding: 10px 16px
  border-radius: 1000px
  backdrop-filter: blur(30px)
  background: rgba(11, 57, 72, 0.05)
  transition-duration: $transition-duration
  transition-property: color, background
  &:hover
    background: rgba(11, 57, 72, 0.07)
    color: $saturated

.modal-order__bottom
  display: flex
  align-items: center
  @include media(xs)
    display: block

.modal-order__submit
  @include media(xs)
    width: 100%
  span
    font-size: 14px
    line-height: 105%

.modal-order__policy
  margin-left: 20px
  color: rgba($text, .4)
  max-width: 340px
  @include media(xs)
    max-width: 320px
    margin: 14px auto 0
    text-align: center
  a
    color: rgba($text, .4)
    transition-duration: $transition-duration
    transition-property: color
    &:hover
      color: rgba($text, 1)
