.modal-thanks
  text-align: center

.modal-thanks__icon
  margin-top: 100px
  margin-bottom: 79px
  display: flex
  justify-content: center

.modal-thanks__title
  margin-bottom: 20px
  font-size: 36px
  line-height: 105%

.modal-thanks__text
  max-width: 410px
  margin: 0 auto 63px
  opacity: 0.7
  font-size: 16px
  line-height: 140%

.modal-thanks__note
  margin-bottom: 4px
  opacity: 0.4
