.order
  padding: 274px 0 90px
  @include media(lg)
    padding: 120px 0 90px
  @include media(xs)
    padding: 60px 0

.order__cont

.order__area

.order__box

.order__caption

.order__text

.order__form

.order__input

.order__headline

.order__list

.order__label

.order__radio

.order__radio-view

.order__bottom

.order__submit

.text-medium

.order__policy
