.steps
  margin-bottom: 120px
  @include media(lg)
    margin-bottom: 90px
  @include media(xs)
    margin-bottom: 60px

.steps__cont

.steps__area
  display: flex
  align-items: flex-start

.steps__wrap
  width: 37.375rem
  @include media(lg)
    width: 55%
  @include media(xs)
    width: 100%

.steps__title
  margin-bottom: 80px
  @include media(lg)
    margin-bottom: 40px
  @include media(xs)
    margin-bottom: 30px

.steps__list

.steps__item
  position: relative
  padding-left: 216px
  transform: translateX(-70px) scale(0.75)
  opacity: 0.2
  transition-property: opacity, transform
  transition-duration: 0.8s
  @include media(lg)
    padding-left: 56px
  //  padding-left: 6.59rem
  @include media(xs)
    padding-left: 84px
  &:not(:last-of-type)
    margin-bottom: 62px
    @include media(xs)
      margin-bottom: 30px

.steps__item_fade
  transform: translateX(0) scale(1)
  opacity: 1

.steps__number
  position: absolute
  top: 0
  left: 0
  opacity: 0.3
  color: $saturated
  font-size: 1.51rem
  line-height: 110%
  @include media(lg)
    font-size: 18px
  //  font-size: 2.823rem
  @include media(xs)
    font-size: 18px

.steps__box
  @include media(xs)
    width: 100%

.steps__headline
  margin-bottom: 12px
  //@include media(lg)
  //  font-size: 2.117rem
  @include media(xs)
    margin-bottom: 7px

.steps__text
  opacity: 0.8
  //@include media(lg)
  //  font-size: 1.411rem
  @include media(lg)
    font-size: 12px

.steps__diagram
  position: sticky
  top: 80px
  margin-left: 55px
  width: 35.932rem
  height: 35.932rem
  border-radius: 50%
  background-color: $saturated
  @include media(lg)
    margin-left: 28px
    width: 35.64rem
    height: 35.64rem
  @include media(xs)
    display: none
