extends ../components/_layout/layout

block head
  +title('Цифровые инвестиции')

block body
  include ../components/cap
  include ../components/about
  include ../components/cases
  include ../components/order
  include ../components/team
  include ../components/advantages
  include ../components/steps
  include ../components/faq
