section.about#about
  .about__bg.cont
  .about__wrap
    .about__cont.cont
      h2.about__caption.h2 О нас
      .about__inner
        p.about__text.text-large.text-normal-weight.
          Компания «Цифровые инвестиции» работает с 2014 года. Мы помогаем среднему и крупному бизнесу перейти на новый
          уровень, внедряя цифровые решения.
        p.about__text.text-large.text-normal-weight.
          Изучая и анализируя бизнес-процессы наших клиентов, разрабатываем системы, которые позволяют снизить
          операционные расходы, найти и убрать узкие горлышки для масштабирования, повысить эффективность работы всей
          команды. Мы можем выделить под проект отдельную команду, которая будет заниматься только клиентской задачей
      .about__title Технологии которые используем
      .about__area(data-element="about-area")
        each item in [1,2,3,4,5,6,7,8,9,10]
          img.about__icon(src=staticImg(`about/ic_about_${item}.svg`) alt='')
