-
  const faqList = [
    { headline: 'Как мы можем наблюдать за ходом разработки?', text: 'Мы декомпозируем разработку на этапы. Каждый этап в свою очередь делится на спринты. По окончанию каждого спринта все обновления релизим на тестовом стенде и присылаем release-note (список реализованного в спринте функционала)' },
    { headline: 'Можем ли мы обратиться к вам за&nbsp;автоматизацией без&nbsp;понимания конкретики?', text: 'Мы декомпозируем разработку на этапы. Каждый этап в свою очередь делится на спринты. По окончанию каждого спринта все обновления релизим на тестовом стенде и присылаем release-note (список реализованного в спринте функционала)' },
    { headline: 'Какой подход вы используете в управлении проектами?', text: 'Мы декомпозируем разработку на этапы. Каждый этап в свою очередь делится на спринты. По окончанию каждого спринта все обновления релизим на тестовом стенде и присылаем release-note (список реализованного в спринте функционала)' },
  ]

section.faq#faq
  .faq__cont.cont
    .faq__area
      h2.faq__caption.h2 Ответы на&nbsp;вопросы
      ul.faq__list
        each item in faqList
          li.faq__item
            .faq__top(data-element="faq__top")
              .faq__headline.subtitle!= item.headline
              .faq__button
            .faq__content
              .faq__content-inner
                p.faq__text.text-medium= item.text
