section.order
  .order__cont.cont
    .order__area
      .order__box
        h2.order__caption.h2 Найдем подход к&nbsp;любому проекту
        .order__text.text-large Оставьте заявку, простым языком ответим на все интересующие вопросы и предложим решение
      form.order__form
        input.order__input.text-large.input(placeholder='Ваше имя' type='text' name='name')
        input.order__input.text-large.input(placeholder='Номер телефона' type='tel' name='phone')
        .order__headline.text-large Удобный способ связи
        .order__list
          label.order__label
            input.order__radio(type='radio' name='communication' checked value='По телефону')
            .order__radio-view.text-medium По телефону
          label.order__label
            input.order__radio(type='radio' name='communication' value='Telegram')
            .order__radio-view.text-medium Telegram
          label.order__label
            input.order__radio(type='radio' name='communication' value='WhatsApp')
            .order__radio-view.text-medium WhatsApp
        .order__bottom
          button.order__submit.btn-small-arrow.btn-small-arrow_white
            span.text-medium Отправить заявку
          .order__policy.text-small
            | Нажимая на кнопку “Отправить заявку”, вы соглашаетесь с
            |
            a(href='#') политикой конфиденциальности
