section.order
  .order__cont.cont
    .order__area
      //.order__light
      .order__box
        h2.order__caption.h2 Найдем подход к&nbsp;любому проекту
        .order__text.text-large.text-normal-weight Оставьте заявку, простым языком ответим на все интересующие вопросы и предложим решение
      form.order__form(data-role="form-validate")
        label.order__label(data-role="form-validate-name")
          input.order__input.text-large.input.input_white(placeholder='Ваше имя' type='text' name='name')
          .input-error-message Не заполнено поле
        label.order__label(data-role="form-validate-phone")
          input.order__input.text-large.input.input_white(placeholder='Номер телефона' type='tel' name='phone')
          .input-error-message Не заполнено поле
        .order__headline.text-large Удобный способ связи
        .order__list
          label.order__label-radio
            input.order__radio(type='radio' name='communication' checked value='По телефону')
            .order__radio-view.text-medium По телефону
          label.order__label-radio
            input.order__radio(type='radio' name='communication' value='Telegram')
            .order__radio-view.text-medium Telegram
          label.order__label-radio
            input.order__radio(type='radio' name='communication' value='WhatsApp')
            .order__radio-view.text-medium WhatsApp
        .order__bottom
          button.order__submit.btn-small-arrow.btn-small-arrow_white
            span.text-medium Отправить заявку
          .order__policy.text-small
            | Нажимая на кнопку “Отправить заявку”, вы соглашаетесь с
            |
            a(href='policy.html') политикой конфиденциальности
