-
  const stepsList = [
    { headline: 'Аналитическое исследование', number: '01',
      text: 'Изучаем текущее состояние компании в деталях: портрет клиента, команда, бизнес-процессы, техническое состояние' },
    { headline: 'Проектирование', number: '02',
      text: 'Создаём концепцию будущей разработки: прототипы интерфейсов, архитектура, схемы взаимодействий' },
    { headline: 'Дизайн', number: '03',
      text: 'Проводим скрининг по мудборду, разрабатываем концепты, подготавливаем макеты к разработке' },
    { headline: 'Разработка', number: '04',
      text: 'Занимаемся поэтапной разработкой проекта. После каждого этапа уведомляем о прогрессе, делаем разработку прогнозируемой' },
    { headline: 'Тестирование', number: '05',
      text: 'Проводим комплексное тестирование всех узлов проекта, составляем документацию' },
    { headline: 'Техническая поддержка и сопровождение', number: '06',
      text: 'Обеспечиваем качественную, бесперебойную работу наших систем, развиваем их, пишем регламенты по использованию и проводим обучение сотрудников' },
  ]

section.steps#steps(data-element="steps")
  .steps__cont.cont
    .steps__area
      .steps__wrap
        h2.steps__title.h2 Этапы работы
        ul.steps__list
          each item in stepsList
            li.steps__item(data-element="steps-item")
              .steps__number= item.number
              .steps__box
                .steps__headline.title= item.headline
                .steps__text.text-medium= item.text
      .steps__diagram-box
        .steps__diagram
          .steps__diagram-percent 0%
          canvas.steps__diagram-canvas
          canvas.steps__diagram-canvas
          canvas.steps__diagram-canvas
