-
  const teamList = [
    { name: 'Аналитик', text: 'Выявляет потребности клиента и находит максимально эффективные пути для их закрытия' },
    { name: 'Project-менеджер', text: 'Координирует работу всей команды проекта, составляет план разработки, коммуницирует с клиентом' },
    { name: 'Дизайнер', text: 'Находит самые правильные по UX/UI варианты визуала будущих инструментов' },
    { name: 'Team Lead', text: 'Проектирует техническую архитектуру, отвечает за её реализацию' },
    { name: 'Верстальщик', text: 'Делает Pixel-Perfect вёрстку по макетам и подгатавливает её к разработке' },
    { name: 'Backend-разработчик', text: 'Разрабатывает серверную часть приложений по заданному архитектурному коду' },
    { name: 'Frontend-разработчик', text: 'Связывает вёрстку с серверной частью приложения, разрабатывает интерактивные функции' },
    { name: 'Тестировщик', text: 'Проводит тестирование на каждом этапе разработки, отвечает за качество конечного продукта' },
    { name: 'Администратор серверов', text: 'Проводит настройку серверного ПО, в частности CI/CD, системы мониторинга ресурсов, системы уведомлений' },
  ]

section.team#team
  .team__cont.cont
    .team__area
      .team__box
        h2.team__caption.h2 Над каждым проектом трудится команда специалистов
      ul.team__list
        each item in teamList
          li.team__item(data-element="team-item")
            picture.team__picture
              source(srcset=staticImg(`team/team-1_68.jpg`) media="(max-width: 1439px)")
              img.team__image(src=staticImg('team/team-1.jpg') alt='')
              .team__status
            .team__inner
              .team__name.title= item.name
              .team__text.text-medium.text-normal-weight= item.text
