footer.footer
  .footer__cont(data-role="light-bg-box")
    .footer__light(data-role="light-bg")
    .footer__area
      .footer__note.title Обсудим проект?
      a.footer__email.h1(href='mailto:info@cifrinvest.ru') info@cifrinvest.ru
      button.footer__order.btn-small-arrow.btn-small-arrow_white
        span.text-medium Оставить заявку
    .footer__bottom
      .footer__copyright.text-medium © 2012–2024 ООО “Цифровые инвестиции”
      a.footer__policy.text-medium(href='/policy.html') Политика конфиденциальности
