-
  const headerMenu = [
    { text: 'О нас', link: '#about' },
    { text: 'Кейсы', link: '#cases'},
    { text: 'Команда', link: '#team'},
    { text: 'Преимущества', link: '#advantages'},
    { text: 'Этапы работы', link: '#steps'},
    { text: 'Ответы на вопросы', link: '#faq'},
  ]

a.logo.magnetic(href='/')
  img.logo-image.magnetic-inner(src=staticImg('logo.svg') alt='')
header.header(data-element="header")
  .header__cont.cont
    .header__area
      .magnetic
        button.header__burger.magnetic-inner(type='button' data-element="header-burger")
      if VIEW === 'policy'
        .magnetic
          a.header__back.text-medium.magnetic-inner(href='/') Назад
      if VIEW === 'index'
        .magnetic
          button.header__back-cases.magnetic-inner(type='button' data-element="header__back-cases")
            span Назад
      .header__menu
        nav.header__nav
          ul.header__list
            each item in headerMenu
              li.header__item
                a.header__link.title.link-black(href=item.link data-role="scroll-to-anchor")= item.text
        a.header__button.btn.btn-saturated(href='mailto:info@cifrinvest.ru') info@cifrinvest.ru
        button.header__button.btn.btn-black-arrow(data-role="modal-opener" data-modal-class="modal-order")
          span Оставить заявку
      .header__tg-box.magnetic
        a.header__tg.magnetic-inner(href='#' target='_blank')
