-
  const headerMenu = [
    'О нас',
    'Кейсы',
    'Команда',
    'Преимущества',
    'Этапы работы',
    'Ответы на вопросы',
  ]

header.header(data-element="header")
  .header__cont.cont
    .header__area
      button.header__burger.magnetic(type='button' data-element="header-burger")
      if VIEW === 'policy'
        button.header__back.text-medium.magnetic(type='button') Назад
      if VIEW === 'index'
        button.header__back-cases.magnetic(type='button' data-element="header__back-cases")
          span Назад
      .header__menu
        nav.header__nav
          ul.header__list
            each item in headerMenu
              li.header__item
                a.header__link.title.link-black(href="#")= item
        a.header__button.btn.btn-saturated(href='mailto:info@cifrinvest.ru') info@cifrinvest.ru
        button.header__button.btn.btn-black-arrow(data-role="modal-opener" data-modal-class="modal-order")
          span Оставить заявку
      a.header__logo.magnetic(href='/')
        img.header__logo-image(src=staticImg('logo.svg') alt='')
      a.header__tg.magnetic(href='#' target='_blank')
